<div class="container  loginprincipal ">
    <section  >
        <img  src="../../assets/logomunicipalidad.png" class="logomuni" >
       
       </section >
         <form  >
             <div class="form-group">
               <label  class="text-warning StyleUser"> USER </label>
               <input type="text" id="u" class="form-control"  aria-describedby="emailHelp">
             </div>
             <div class="form-group">
               <label class="text-warning  StylePass" for="exampleInputPassword1">PASSWORD</label>
               <input type="password" class="form-control" id="pass">
             </div>
             
             <button type="submit" class="btn btn-warning ingresarprincipal"  (click)="login()">INGRESAR</button>
         </form>
</div>
    

