<div class="container">
    <a class="navbar-brand" href="#">
        <img src="../../assets/logomunicipalidad.png" class="logomuni" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
<div class="container">
    <div class="row">
        <form class="form-inline">
            <div class="form-group mb-2">
                <label class="documentos" >Solicitud dirigida al Alcalde</label>
            </div>
            <div class="form-group">
                <input type="file" name="" id="solicitud" class="form-control documentos">
            </div>
                <button class=" btn btn-primary form-control documentos">Descargar Ejm</button>
        </form>
    </div>
    <div class="row">
        <form class="form-inline">
            <div class="form-group mb-2">
                <label class="documentos" >Solicitud dirigida al Alcalde</label>
            </div>
            <div class="form-group">
                <input type="file" name="" id="solicitud" class="form-control documentos">
            </div>
                <button class=" btn btn-primary form-control documentos">Descargar Ejm</button>
        </form>
    </div>
    <div class="row">
        <form class="form-inline">
            <div class="form-group mb-2">
                <label class="documentos" >Solicitud dirigida al Alcalde</label>
            </div>
            <div class="form-group">
                <input type="file" name="" id="solicitud" class="form-control documentos">
            </div>
                <button class=" btn btn-primary form-control documentos">Descargar Ejm</button>
        </form>
    </div>
    <div class="row">
        <form class="form-inline">
            <div class="form-group mb-2">
                <label class="documentos" >Solicitud dirigida al Alcalde</label>
            </div>
            <div class="form-group">
                <input type="file" name="" id="solicitud" class="form-control documentos">
            </div>
                <button class=" btn btn-primary form-control documentos">Descargar Ejm</button>
        </form>
    </div>
    <div class="form-grop">
        <button class="btn btn-primary" (click) = "finalizar()">Finalizar Registro</button>
    </div>
    
</div>

   




<br>
<br>







