
 <a class="navbar-brand" href="#">
    <img src="../../assets/logomunicipalidad.png" class="logomuni" alt="">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<h1 class=".lead"> Datos del representante</h1>
<br>

<div class="container">
    <form >
        <div class="form-group">
            <label for="">Nombres</label>
            <input type="text" class="form-control" >
            <label for="">Apellido Paterno</label>
            <input type="text" class="form-control" >
            <label for="">Apellido Materno</label>
            <input type="text" class="form-control" >
            <label for="">DNI</label>
            <input type="text" class="form-control" >
            <label for="">Direccion</label>
            <input type="text" class="form-control" >
            
            <label for="">Celular</label>
            <div class="row">
            <input type="text" class="form-control col-5" placeholder="Celular">
            <button type="button" class="btn btn-primary col-1 verificar"  >Verificar</button>
         
            <label  class=" codigot "> Codigo  </label>
            <input type="text" class="form-control col-4" >
     
  

        </div>
        <button type="button" (click) = "guardado()" class="btn btn-primary  boton">Siguiente</button>



        </div>
    </form>
</div>
    